<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="stylesheet.css"
    />
  </head>
  <body>
    <div class="main">

        <div id="continer">
            <a href="home.html"><span id="logao"><p id="logo-i">AADS</p></span></a>
        </div>

        <div id="continer-text">
            <h2>Nutrition Assistant Application</h2>
            <p>Wellness and healthy lifestyles have become mainstream. Interest in fitness
applications and revenue from them grow as fast as the number of people
striving to be fit.The spoonacular Nutrition, Recipe, and Food API allow you to access over
365,000 recipes and 86,000 food products.
You can automatically calculate the nutritional information for any recipe just by uploading an image.</p>
        </div>
        
        <div id="continer">
            <div id="continer-img">
                <span id="text-btn"><a href="upload_image.html">UPLOAD IMAGE NOW</a></span>
            </div>
        </div>

        <div id="continer">

          <div id="cointiner-inline">
            <a href="login.html" id="list">Log In</a>
            <a href="signup.html" id="list">Register</a>
          </div>

        </div>



        
        


        
    </div>   
  </body>
</html>